body
{
  background-image: linear-gradient(to right,#9999ff,#ff99ff);
}

.checked 
  {
    color: orange;
  }

.sidenav {
  position: sticky;
  height: 100%;    
  width: 0; 
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 10;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.2s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:Black;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: white;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main 
{
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #Academics table {font-size: 12px;margin-left: 2px;padding-left: 2px;height: 100%;}
  #techskills table {font-size: 14px;margin-left:2px;}
  #interskills table {font-size: 12px;margin-left: 2px;padding-left: 2px;}
  #Certificates table {font-size: 12px;margin-left: 2px;padding-left: 2px;}
}
@media screen and (max-width: 630px)
{
  #Academics table {font-size: 12px;padding-left: 2px; margin-right: 2px;}
  #techskills table {font-size: 14px;margin-right: 5%;}
  #interskills table {font-size: 12px;margin-left: 2px;padding-left: 2px;}
  #Certificates table {font-size: 12px;margin-left: 2px;padding-left: 2px;}
  #contacts p {font-size: 16px;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#mySidenav
{
  background-image: linear-gradient(to right,#9999ff,#ff99ff);
}
#links img{
  width: 80%;
  margin-left: 20%;
}

